{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block left %}
<a href="/Cabinet/Administration/Gestionrdv", class="btn btn-outline-secondary btn-lg btn-block"> Gestion des rendez-vous <center><img src="../../../../gestionrdv.png", class="img-thumbnail" ></center> </a>
{% endblock %}

{% block body %}
<a href="/Cabinet/Administration/Gestionmutuelle", class="btn btn-outline-secondary btn-lg btn-block"> Gestion des mutuelles <center><img src="../../../../gestionmutuelle.png", class="img-thumbnail" ></center> </a>
{% endblock %}

{% block right %}
<a href="/Cabinet/Administration/Gestionfiche", class="btn btn-outline-secondary btn-lg btn-block"> Gestion des fiches <center><img src="../../../../gestionfiche.png", class="img-thumbnail" ></center> </a>
{% endblock %}

{% block downleft %}
<a href="/Cabinet/Administration/Gestionconsultation", class="btn btn-outline-secondary btn-lg btn-block"> Gestion des consultations <center><img src="../../../../gestionconsult.png", class="img-thumbnail" ></center> </a>
{% endblock %}