{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block left %}

    <a class="btn btn-outline-secondary" href="/Cabinet/Administration/Gestionmutuelle">Retour</a>
    
{% endblock %}

{% block body %}
	<h1 class="page-header"> Créer Mutuelles </h1>
	<br></br>
       {{form_start(form)}}
       {{form_widget(form)}}
       {{form_end(form)}}
{% endblock %}